## 네이버 지식IN- 전세

In [12]:
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
from urllib.parse import quote
from tqdm import tqdm

In [13]:
url = f'https://kin.naver.com/search/list.naver?query={quote("서울전세")}&page=1'
driver = webdriver.Chrome()
driver.get(url)
soup = BeautifulSoup(driver.page_source, 'html.parser')

The chromedriver version (117.0.5938.88) detected in PATH at C:\Users\human\Downloads\chromedriver.exe might not be compatible with the detected chrome version (118.0.5993.71); currently, chromedriver 118.0.5993.70 is recommended for chrome 118.*, so it is advised to delete the driver in PATH and retry

In [14]:
sub_soup = BeautifulSoup(driver.page_source, 'html.parser')
divs = sub_soup.select('#content > div.question-content > div > div.c-heading._questionContentsArea.c-heading--default-old > div.c-heading__content')
divs2 = sub_soup.select('#answer_1 > div._endContents.c-heading-answer__content > div._endContentsText.c-heading-answer__content-user')
len(divs),len(divs2)

(0, 0)

In [19]:
last_list = []
driver = webdriver.Chrome()
for page in range(1, 36):
    url = f'https://kin.naver.com/search/list.naver?query={quote("서울전세")}&page={page}'
    driver.get(url)
    time.sleep(3)

    soup = BeautifulSoup(driver.page_source, 'html.parser')
    lis = soup.select('.basic1 > li')

    for li in lis:
        sub_url = li.select_one('a._searchListTitleAnchor')['href']
        driver.get(sub_url)
        time.sleep(2)

        divs = sub_soup.select('#content > div.question-content > div > div.c-heading._questionContentsArea.c-heading--default-old > div.c-heading__content')
        sub_soup = BeautifulSoup(driver.page_source, 'html.parser')
        ques_list = []
        text = []
        for p in divs:
            text = p.get_text().strip()
            ques_list.append(text)
            ques_list = ''.join(ques_list)
            divs2 = sub_soup.select('#answer_1 > div._endContents.c-heading-answer__content > div._endContentsText.c-heading-answer__content-user')
            try:
                for div in divs2:
                    text = []
                    ans_list = []
                    for p in divs2:
                        text = p.get_text().strip()
                        ans_list.append(text)
                        ans_list = ''.join(ans_list)
            except:
                continue
        last_list.append({'구분': '전세', '질문':ques_list, '답변':ans_list})
                

        driver.back()
        time.sleep(2)
    print()

driver.close()

The chromedriver version (117.0.5938.88) detected in PATH at C:\Users\human\Downloads\chromedriver.exe might not be compatible with the detected chrome version (118.0.5993.71); currently, chromedriver 118.0.5993.70 is recommended for chrome 118.*, so it is advised to delete the driver in PATH and retry

In [20]:
df = pd.DataFrame(last_list)
df.tail()

,구분,질문,답변
345,전세,"찾아볼땐 신축빌라, 오피스텔같은 1억 넘는 매물에 사기당한 사건이 많더라구요 !저는...",신혼부부는 7년까지 유효하기 때문에 혼인기간은 대출이 가능한 기간인 것 같습니다. ...
346,전세,안녕하세요 신혼부부 전세대출 관련 문의드립니다.혼인기간은 6년차구요현재 서울 전세 ...,서울에서 투룸전세 5000으로 구할 수 있는 곳이 많지는 않을 겁니다. 관악구(신림...
347,전세,제목그대로 입니다 동네는 서울역이나 홍대에서 멀지 않은곳에서구할만한 동네들을 다 알...,"염창동은 떨어지지는 않을 것 같습니다. 9호선과 도로망과 목동인근 인점, 그리고 마..."
348,전세,[],"염창동은 떨어지지는 않을 것 같습니다. 9호선과 도로망과 목동인근 인점, 그리고 마..."
349,전세,안녕하세요 신혼부부 전세대출 관련 문의드립니다.혼인기간은 6년차구요현재 서울 전세 ...,주택공시가 * 140% * 90%범위내에 보증금이 들어가면 보험 가입 가능하니 안전...

In [21]:
df = pd.DataFrame(last_list)
df.to_csv('data/서울전세.csv', index=False)

In [22]:
df = pd.read_csv('data/서울전세.csv')
df

,구분,질문,답변
0,전세,21년 7월 서울 내 오피스텔 전세 1억에 계약했습니다. (현금 3천 만원 집주인에...,안녕하세요. 서울지방변호사회 소속으로 지식iN 법률상담을 진행하고 있는 황인 변호사...
1,전세,얼마 전에 서울전세사기를 당했습니다.보니까 공인중개사랑 건축주가 같이 덫을 놓은 거...,1. 광주 회사 재직증명서 제출하고 서울 전세 집 알아보는게 가능하나요?---> 어...
2,전세,현재 광주에서 회사 재직중입니다. 내년 4월-5월에 퇴사예정이며내년 1월 정도부터 ...,나머지 3000만원에 대해서 여유자금이 없다면 중소기업보증금대출이아닌 청년전용 버팀...
3,전세,중소기업 재직 2개월 차 사회초년생입니다.간략히 정리하면 - 서울 1.5억 전세집 ...,NAVER 지식in 진심으로 도움되는 답변을 드리고자 노력하는 진실된 지식인입니다....
4,전세,만나이 35살이 되어서 청년전월세 청년..이들어간 대출은 안되고 신혼부부도 아니기때...,안녕하세요. 서울지방변호사회 소속으로 지식iN 법률상담을 진행하고 있는 이동간 변호...
...,...,...,...
345,전세,"찾아볼땐 신축빌라, 오피스텔같은 1억 넘는 매물에 사기당한 사건이 많더라구요 !저는...",신혼부부는 7년까지 유효하기 때문에 혼인기간은 대출이 가능한 기간인 것 같습니다. ...
346,전세,안녕하세요 신혼부부 전세대출 관련 문의드립니다.혼인기간은 6년차구요현재 서울 전세 ...,서울에서 투룸전세 5000으로 구할 수 있는 곳이 많지는 않을 겁니다. 관악구(신림...
347,전세,제목그대로 입니다 동네는 서울역이나 홍대에서 멀지 않은곳에서구할만한 동네들을 다 알...,"염창동은 떨어지지는 않을 것 같습니다. 9호선과 도로망과 목동인근 인점, 그리고 마..."
348,전세,[],"염창동은 떨어지지는 않을 것 같습니다. 9호선과 도로망과 목동인근 인점, 그리고 마..."
349,전세,안녕하세요 신혼부부 전세대출 관련 문의드립니다.혼인기간은 6년차구요현재 서울 전세 ...,주택공시가 * 140% * 90%범위내에 보증금이 들어가면 보험 가입 가능하니 안전...

In [23]:
df.isna()

        구분     질문     답변
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False
4    False  False  False
..     ...    ...    ...
345  False  False  False
346  False  False  False
347  False  False  False
348  False  False  False
349  False  False  False

[350 rows x 3 columns]

In [25]:
df = df.dropna()
df

,구분,질문,답변
0,전세,21년 7월 서울 내 오피스텔 전세 1억에 계약했습니다. (현금 3천 만원 집주인에...,안녕하세요. 서울지방변호사회 소속으로 지식iN 법률상담을 진행하고 있는 황인 변호사...
1,전세,얼마 전에 서울전세사기를 당했습니다.보니까 공인중개사랑 건축주가 같이 덫을 놓은 거...,1. 광주 회사 재직증명서 제출하고 서울 전세 집 알아보는게 가능하나요?---> 어...
2,전세,현재 광주에서 회사 재직중입니다. 내년 4월-5월에 퇴사예정이며내년 1월 정도부터 ...,나머지 3000만원에 대해서 여유자금이 없다면 중소기업보증금대출이아닌 청년전용 버팀...
3,전세,중소기업 재직 2개월 차 사회초년생입니다.간략히 정리하면 - 서울 1.5억 전세집 ...,NAVER 지식in 진심으로 도움되는 답변을 드리고자 노력하는 진실된 지식인입니다....
4,전세,만나이 35살이 되어서 청년전월세 청년..이들어간 대출은 안되고 신혼부부도 아니기때...,안녕하세요. 서울지방변호사회 소속으로 지식iN 법률상담을 진행하고 있는 이동간 변호...
...,...,...,...
345,전세,"찾아볼땐 신축빌라, 오피스텔같은 1억 넘는 매물에 사기당한 사건이 많더라구요 !저는...",신혼부부는 7년까지 유효하기 때문에 혼인기간은 대출이 가능한 기간인 것 같습니다. ...
346,전세,안녕하세요 신혼부부 전세대출 관련 문의드립니다.혼인기간은 6년차구요현재 서울 전세 ...,서울에서 투룸전세 5000으로 구할 수 있는 곳이 많지는 않을 겁니다. 관악구(신림...
347,전세,제목그대로 입니다 동네는 서울역이나 홍대에서 멀지 않은곳에서구할만한 동네들을 다 알...,"염창동은 떨어지지는 않을 것 같습니다. 9호선과 도로망과 목동인근 인점, 그리고 마..."
348,전세,[],"염창동은 떨어지지는 않을 것 같습니다. 9호선과 도로망과 목동인근 인점, 그리고 마..."
349,전세,안녕하세요 신혼부부 전세대출 관련 문의드립니다.혼인기간은 6년차구요현재 서울 전세 ...,주택공시가 * 140% * 90%범위내에 보증금이 들어가면 보험 가입 가능하니 안전...

In [27]:
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
model = SentenceTransformer('jhgan/ko-sroberta-multitask')

In [29]:
model.encode(df.질문[0])

array([-4.76077676e-01, -4.40300465e-01,  4.26048517e-01, -7.98362672e-01,
        7.42229223e-01, -2.09202379e-01,  2.67891943e-01, -1.78175822e-01,
       -4.47828174e-01, -3.85575652e-01,  5.39655209e-01, -6.25480473e-01,
       -1.31700993e-01, -1.12822026e-01, -2.97387898e-01,  1.13350809e-01,
        5.51514387e-01, -9.78006348e-02,  6.88853860e-01, -3.55603874e-01,
        4.91048247e-02, -2.59641796e-01, -2.76805282e-01, -2.33626530e-01,
       -3.23190913e-02,  6.83790267e-01, -1.43533517e-02, -2.66698360e-01,
        3.42723638e-01,  1.44487366e-01,  2.53489584e-01, -2.49917448e-01,
       -2.16647893e-01,  1.91890031e-01,  3.62041831e-01, -1.90296173e-01,
       -1.09794468e-01, -5.51399469e-01, -4.71726358e-01,  1.84041128e-01,
       -1.90953016e-01, -1.58546910e-01, -4.88792092e-01,  2.53458440e-01,
        4.00740445e-01, -2.72776991e-01,  3.51712704e-01,  3.24094325e-01,
       -3.31312791e-02, -1.14332557e-01,  7.07389265e-02, -3.87982279e-01,
       -1.84066296e-01,  1.39775664e-01, -3.14804256e-01, -1.15998954e-01,
        1.37816653e-01, -4.27254558e-01,  9.94311869e-02, -4.84705031e-01,
       -3.98540869e-02, -5.50305068e-01, -7.50067979e-02,  6.14359558e-01,
        8.29811301e-03, -1.20146275e-02,  1.26294672e-01,  6.40282452e-01,
        4.32650261e-02,  9.62087288e-02,  1.77998886e-01,  1.55753657e-01,
        5.92683256e-01, -1.36295304e-01,  1.70863524e-01,  1.87040657e-01,
       -4.14049506e-01, -1.90886796e-01,  9.01988298e-02,  1.41472891e-01,
        2.04397127e-01,  2.85950243e-01,  4.97071981e-01, -1.88621640e-01,
        1.22428760e-02, -8.85353684e-02, -2.41768092e-01,  3.11318878e-02,
        3.12674940e-01, -1.65694579e-01, -7.98525929e-01,  6.74694180e-02,
        3.46511900e-01,  1.51529357e-01, -2.92445630e-01, -2.32399836e-01,
        7.17784464e-03,  8.71273950e-02,  4.87089038e-01, -2.84542918e-01,
       -3.98422897e-01,  2.64244974e-01, -3.08283150e-01,  3.32429767e-01,
        8.48357938e-03,  3.10994610e-02,  5.03316641e-01, -7.73251951e-02,
       -9.06456113e-02, -2.49050036e-01, -1.13830589e-01, -8.54563862e-02,
        2.63377100e-01, -1.03739642e-01,  2.45555677e-03,  6.30289242e-02,
        2.85744630e-02,  2.81575352e-01,  4.76456791e-01, -1.60660788e-01,
        3.91914815e-01, -4.37521696e-01, -3.76256287e-01,  1.46490395e-01,
        4.21538502e-02,  4.92835701e-01, -1.03185833e-01, -3.73243660e-01,
        3.50909173e-01, -2.01253474e-01,  2.83886909e-01,  3.48303288e-01,
       -3.24360192e-01,  5.46354726e-02, -2.64130056e-01,  2.15002038e-02,
       -5.36342680e-01, -1.33550167e-01, -5.48211709e-02, -3.53247039e-02,
       -3.44318859e-02, -3.70452404e-01,  1.85913339e-01, -4.44267571e-01,
        6.03245020e-01,  1.06079064e-01,  5.18968552e-02, -5.73301613e-01,
       -3.30023766e-01, -1.94279492e-01,  2.00696796e-01,  2.29245797e-01,
        1.16190769e-01,  5.72958350e-01, -6.93639144e-02, -1.50477260e-01,
       -4.18151855e-01, -2.83641011e-01,  3.01022351e-01, -2.99712777e-01,
        2.40069598e-01, -3.50614101e-01,  2.84631431e-01, -2.56423146e-01,
        4.81032655e-02,  2.42225885e-01, -5.62998056e-01,  1.13770030e-01,
        1.87786281e-01, -1.49100795e-01, -1.56975970e-01, -2.70249546e-01,
       -2.18741253e-01,  1.28525406e-01,  3.56326461e-01, -3.31026703e-01,
       -1.78683847e-01,  2.63516605e-01,  5.20985760e-02,  5.12500286e-01,
       -2.36191988e-01, -1.76823035e-01, -4.26385164e-01, -2.03013178e-02,
        3.06080222e-01,  5.27048528e-01,  3.77819501e-02,  1.39607519e-01,
        1.13389343e-01,  6.24193013e-01, -2.32939690e-01,  1.81642070e-01,
       -3.09757829e-01,  6.64598346e-02,  5.01401901e-01, -4.51148078e-02,
       -1.55758798e-01, -8.18276286e-01,  5.28789200e-02, -1.23994298e-01,
        4.63162452e-01,  1.60946976e-04,  2.21352994e-01, -5.01388192e-01,
       -1.05971068e-01, -6.23794019e-01,  1.49076864e-01, -6.04940653e-01,
       -2.14749411e-01,  4.77971733e-01, -2.44350210e-01,  1.51951507e-01,
        4.11439598e-01,  1.07447237e-01, -2.05858588e-01, -4.07425433e-01,
       -3.72173429e-01, -1.11956775e-01, -4.01751101e-02, -2.51838919e-02,
       -2.59810001e-01, -1.65759295e-01, -6.85684532e-02, -9.45691913e-02,
        3.16230327e-01, -1.86044469e-01,  2.23731652e-01, -7.03957140e-01,
       -1.37654394e-01,  1.29846722e-01, -5.79925537e-01,  4.15542006e-01,
        4.32339430e-01, -3.47664580e-04, -3.58573496e-02,  2.53092527e-01,
       -3.58248591e-01, -1.57686040e-01,  4.91846979e-01, -1.37929961e-01,
       -2.15926170e-01, -2.07722828e-01,  4.76983488e-01, -1.09860897e-01,
        2.25517198e-01, -8.24351087e-02, -2.58707166e-01, -1.67188317e-01,
        4.81463462e-01, -3.16931814e-01, -2.79586613e-01,  2.34109715e-01,
        2.52020024e-02, -3.16451609e-01,  2.35936806e-01, -9.82552618e-02,
        3.74750644e-01,  1.73791319e-01, -7.20157743e-01,  1.53449923e-02,
       -2.21553892e-01, -5.26892066e-01, -4.45951492e-01, -2.99019486e-01,
       -1.33044481e-01,  7.45529607e-02, -8.27839077e-02, -9.71432626e-02,
        1.65389016e-01,  3.81919742e-01, -5.04393339e-01, -4.86488849e-01,
        4.23933238e-01, -5.53294756e-02, -3.57587524e-02, -8.33015963e-02,
       -8.52246210e-02, -3.85221653e-02,  1.14937440e-01,  1.03991933e-01,
        4.44182754e-01, -5.71510531e-02, -3.49805236e-01, -4.11688715e-01,
       -6.80878818e-01,  2.67156035e-01, -9.20881480e-02, -2.21409291e-01,
       -9.75683704e-02, -4.75053377e-02,  1.40470592e-02,  4.90018815e-01,
        6.36146843e-01, -1.41760850e+00, -1.28982276e-01,  4.27467898e-02,
       -2.40657613e-01, -6.64680302e-02,  1.89425990e-01, -7.97985494e-02,
        7.95863494e-02,  1.83051303e-01,  4.70901608e-01, -1.09123141e-01,
        6.87978119e-02,  3.92629445e-01,  1.93287775e-01,  7.17814088e-01,
       -5.86076081e-01,  3.41415465e-01,  2.76985884e-01, -3.63587409e-01,
        1.30009606e-01, -2.71997392e-01,  2.05271542e-01,  3.16610873e-01,
       -3.92743319e-01, -4.70626086e-01,  3.19987386e-02, -7.00109750e-02,
        1.82258084e-01, -2.07194120e-01, -5.52977502e-01,  5.33852689e-02,
        1.19908363e-01,  6.71163321e-01, -2.39119142e-01, -1.74199402e-01,
        1.45840287e-01, -4.94766310e-02, -8.52382258e-02,  3.87417898e-02,
        9.68328118e-02, -4.86847699e-01,  3.21332991e-01,  2.47116297e-01,
       -4.18440253e-02, -8.21225420e-02, -4.02330756e-01, -6.01330400e-01,
        5.77922106e-01, -3.49578589e-01,  2.50698477e-01,  1.07823424e-01,
       -3.83243151e-02,  2.13505745e-01, -3.14032584e-01, -8.18085819e-02,
       -3.83299112e-01,  3.37267518e-02,  1.11126423e-01,  2.87763059e-01,
       -1.38749573e-02,  1.41181991e-01,  5.02517581e-01, -2.16708541e-01,
       -9.72488970e-02,  3.08875740e-01, -8.71530175e-01,  5.32273412e-01,
        3.13892514e-01, -9.60641801e-02, -2.15100229e-01,  2.69617468e-01,
       -1.22861313e-02,  1.63952827e-01,  2.18957499e-01, -1.93350092e-01,
        6.71146631e-01, -7.03210682e-02, -6.74072266e-01, -1.82784602e-01,
       -3.44712317e-01, -2.66474992e-01,  5.62168509e-02,  3.48745823e-01,
       -1.06671646e-01, -8.29708278e-02,  6.90850168e-02, -9.06987041e-02,
       -4.17595590e-03,  3.55352789e-01, -5.93646526e-01,  7.88878724e-02,
       -2.27356553e-01, -3.57740581e-01,  7.00109601e-02,  5.68304837e-01,
       -1.55799508e-01,  3.01356286e-01, -7.36974239e-01, -1.02150373e-01,
       -4.19230103e-01, -4.42251191e-02, -5.70650578e-01,  1.47316039e-01,
       -1.38969406e-01, -1.10029280e-01, -3.99709083e-02, -1.96455523e-01,
       -8.03451061e-01,  3.84606898e-01,  1.60300314e-01, -3.24949533e-01,
        1.13723040e-01,  2.97939867e-01,  1.29897401e-01, -6.78163096e-02,
       -4.71383333e-02, -2.57099085e-02,  2.05878645e-01, -4.78876948e-01,
        1.60926372e-01, -2.18651354e-01,  1.97987467e-01,  1.83818549e-01,
       -1.21127725e-01, -4.01779294e-01, -4.87150028e-02, -3.23217690e-01,
        5.51061630e-02, -3.97276789e-01,  5.26453018e-01, -1.64622918e-01,
        6.01946950e-01,  1.53311193e-01, -1.48713395e-01, -2.20877439e-01,
       -4.39689569e-02,  1.73330143e-01,  3.45663041e-01,  1.14321653e-02,
        3.29205245e-01, -1.25090003e-01, -5.82790077e-01, -1.53277844e-01,
        1.66129008e-01, -5.61573133e-02, -1.58982694e-01, -2.21664011e-01,
       -3.34121883e-01, -3.37527245e-02,  2.44018823e-01, -1.16659999e-02,
       -4.19467211e-01,  6.53875649e-01, -4.06413943e-01,  4.70918834e-01,
       -9.21112373e-02,  5.97713947e-01, -5.22628903e-01, -1.79222897e-01,
        2.76473701e-01,  1.15717210e-01,  1.14746615e-01,  3.86253983e-01,
       -1.81087703e-01,  2.57962704e-01,  4.17368025e-01, -5.31150401e-01,
        1.51368022e-01, -2.04702601e-01,  2.99019635e-01, -5.61373115e-01,
       -1.45901106e-02, -3.80375504e-01, -2.09807798e-01,  1.10361770e-01,
        2.52709925e-01, -1.03807747e-01, -8.69451106e-01,  5.44363260e-02,
        3.48709345e-01,  4.21022549e-02,  9.48693752e-02, -1.51215240e-01,
        2.38627583e-01, -1.59601822e-01, -2.96927810e-01,  4.40382332e-01,
       -8.60643506e-01,  1.74323291e-01,  1.61154166e-01,  2.82633573e-01,
        2.18801141e-01,  2.80457973e-01, -5.94049469e-02,  8.63666832e-02,
       -2.23153681e-01, -7.62249082e-02, -1.66056514e-01, -1.91634431e-01,
       -3.51830631e-01,  7.55372792e-02, -2.08300248e-01, -6.35171056e-01,
        2.54586518e-01,  1.57631755e-01, -4.30505157e-01, -9.54875588e-01,
       -6.32302165e-01, -1.45575240e-01,  3.75251859e-01, -2.70261317e-01,
        6.77169412e-02,  5.21115601e-01,  5.47734201e-02,  5.26140988e-01,
        5.72245061e-01, -4.22991067e-03, -2.33253121e-01,  3.49729866e-01,
       -2.26564378e-01, -2.95435190e-02,  6.24317825e-01,  8.05195868e-02,
        3.19774270e-01, -4.90867704e-01,  3.65356207e-01,  3.20971817e-01,
       -3.00051808e-01,  2.16529459e-01, -3.53044748e-01, -1.45826995e-01,
        2.14069977e-01,  2.07134590e-01, -2.42371038e-02, -5.52828014e-01,
       -5.26986301e-01, -5.63457906e-01, -1.33285329e-01,  8.69089961e-02,
       -1.39831945e-01,  3.90817940e-01, -4.18963701e-01,  3.68643701e-01,
       -3.68162423e-01, -2.08241008e-02, -4.95900720e-01,  2.75170863e-01,
        1.95803553e-01, -2.16378108e-01, -2.08239723e-03, -2.23191351e-01,
       -6.71495378e-01, -5.28142571e-01,  6.24700904e-01, -2.17080891e-01,
        4.39815581e-01,  2.43589520e-01, -1.07035309e-01, -2.98723876e-01,
       -5.28607890e-02,  1.59044608e-01, -7.70707577e-02, -2.43446589e-01,
       -5.92835918e-02, -2.16404557e-01, -7.43578300e-02,  3.33791047e-01,
        3.85771580e-02, -1.17616296e-01, -2.33612403e-01,  1.69927403e-01,
        4.03093219e-01, -1.61713883e-01, -1.52100742e-01, -3.13597232e-01,
        7.39580691e-02, -1.41351342e-01, -2.33324543e-01, -1.55463487e-01,
       -3.31228018e-01, -3.93007129e-01,  5.26703358e-01, -2.52655208e-01,
        1.89464092e-01,  4.45199907e-01, -4.52840060e-01, -3.72048438e-01,
        5.87655753e-02,  2.95226067e-01, -4.21107084e-01, -2.93925405e-04,
       -4.89513855e-03,  3.91408920e-01, -6.79072291e-02,  7.59148151e-02,
       -6.30999625e-01, -1.40572190e-01, -1.51763529e-01,  1.87736563e-02,
       -8.71863216e-04,  3.02830189e-01, -1.92401305e-01,  2.36270487e-01,
       -3.05737376e-01, -2.40829006e-01, -9.28629190e-02, -3.55778188e-01,
        4.75581825e-01, -9.96031463e-01, -9.76273790e-02,  1.08093373e-01,
       -2.91238338e-01,  2.09727928e-01, -3.42787027e-01, -1.81737825e-01,
        1.49010882e-01,  9.43467259e-01, -2.05222085e-01,  1.15999721e-01,
       -5.99282801e-01, -6.58498764e-01, -2.46411368e-01, -4.46513683e-01,
        1.06098661e-02,  1.90421358e-01,  1.81749627e-01,  2.79557258e-01,
        2.59268939e-01,  2.45843232e-01, -8.61833915e-02,  1.40785081e-02,
       -1.13386601e-01,  8.05948377e-02, -4.74159777e-01,  1.80158019e-02,
       -3.20520580e-01, -3.77643853e-01, -2.91880462e-02, -4.45909917e-01,
       -4.11653258e-02, -7.97575891e-01, -1.38336673e-01,  4.08802688e-01,
       -6.12132430e-01,  3.54579926e-01, -3.17424864e-01, -4.30334985e-01,
        2.46538445e-01,  3.54847878e-01,  1.11888990e-01, -2.00801969e-01,
        3.36558968e-01, -5.86842775e-01, -3.06301653e-01, -3.67125392e-01,
       -6.72891259e-01,  2.53288914e-02, -4.50706780e-01,  5.57948768e-01,
       -1.88493073e-01, -5.10152102e-01, -7.37891793e-02, -3.43278706e-01,
       -2.62639403e-01,  9.88723338e-02,  4.51920301e-01, -5.41745052e-02,
       -1.91619441e-01, -1.25274390e-01, -2.81076014e-01, -1.59531713e-01,
        5.60120940e-01, -1.09363422e-01, -6.50669813e-01,  8.13351944e-02,
        4.45133775e-01, -4.09130156e-01, -4.20285136e-01,  2.12310478e-01,
       -1.17884204e-01, -8.60535949e-02, -1.27307534e-01, -2.61040390e-01,
        5.18416584e-01, -1.89875737e-01,  5.84681749e-01, -6.11428842e-02,
        1.54240564e-01,  2.51963645e-01,  3.84446204e-01, -2.71900237e-01,
       -3.86309028e-02, -7.75600597e-02,  1.82349607e-01, -4.22534227e-01,
       -4.23149168e-01, -5.42752266e-01,  1.36658981e-01, -3.79193611e-02,
        2.47078896e-01, -2.44678974e-01,  2.09481046e-01, -8.58985782e-02,
        2.85567611e-01,  1.90840632e-01, -4.88654494e-01,  3.10075164e-01,
       -6.02069721e-02,  3.05856138e-01,  4.82558846e-01,  2.02583075e-01,
        1.13234095e-01,  3.76585945e-02, -6.39803559e-02, -1.21423990e-01,
       -3.47301602e-01,  1.83116078e-01,  4.80917811e-01,  3.43585312e-01,
       -4.49969508e-02, -2.30565928e-02, -1.88623462e-02,  4.80048284e-02,
       -6.48680478e-02, -5.88762574e-02, -1.70616582e-01, -1.01625726e-01,
       -5.92907220e-02,  9.02252048e-02,  1.71359628e-01, -1.61528513e-01,
        2.45109141e-01, -4.65676010e-01, -4.45830300e-02,  1.99722618e-01,
       -1.65008485e-01,  1.60804987e-02, -4.58374441e-01, -2.19960704e-01,
        7.57287204e-01,  1.04634166e-01,  1.38312280e-01,  5.40656924e-01,
        4.25828248e-01,  4.29314852e-01, -1.49943560e-01, -2.55672216e-01,
       -2.76390314e-01,  1.97642893e-01, -2.30010509e-01,  7.43253306e-02,
        4.85396147e-01, -5.38595378e-01, -1.87046200e-01, -1.77504793e-02,
        7.84106553e-04, -9.47387367e-02, -1.78479224e-01,  6.61726952e-01,
       -3.16802800e-01, -9.46462713e-03,  2.87570268e-01, -5.21988124e-02,
       -6.15412593e-01,  2.02179372e-01, -8.26297104e-02,  2.00082362e-01,
       -3.26337844e-01,  1.75769120e-01, -1.29983366e-01, -3.64434928e-01,
        2.95658290e-01, -2.41473645e-01,  5.04589319e-01, -2.94607222e-01],
      dtype=float32)

In [30]:
df['embedding'] = pd.Series([[]] * len(df))

In [31]:
df.embedding = df.질문.map(lambda x: list(model.encode(x)))
df.tail(3)

,구분,질문,답변,embedding
347,전세,제목그대로 입니다 동네는 서울역이나 홍대에서 멀지 않은곳에서구할만한 동네들을 다 알...,"염창동은 떨어지지는 않을 것 같습니다. 9호선과 도로망과 목동인근 인점, 그리고 마...","[0.32163635, -0.116205715, -0.18487246, 0.0881..."
348,전세,[],"염창동은 떨어지지는 않을 것 같습니다. 9호선과 도로망과 목동인근 인점, 그리고 마...","[0.38606656, -0.7308211, 0.40954387, -0.426452..."
349,전세,안녕하세요 신혼부부 전세대출 관련 문의드립니다.혼인기간은 6년차구요현재 서울 전세 ...,주택공시가 * 140% * 90%범위내에 보증금이 들어가면 보험 가입 가능하니 안전...,"[-0.5172274, -0.8475221, 0.07583572, -0.794833..."

In [32]:
df.to_csv('data/서울전세.csv', index=False)

In [33]:
import json
wdf = pd.read_csv('data/서울전세.csv')
wdf.embedding = wdf.embedding.apply(json.loads)
wdf.head(3)

,구분,질문,답변,embedding
0,전세,21년 7월 서울 내 오피스텔 전세 1억에 계약했습니다. (현금 3천 만원 집주인에...,안녕하세요. 서울지방변호사회 소속으로 지식iN 법률상담을 진행하고 있는 황인 변호사...,"[-0.47607768, -0.44030046, 0.42604852, -0.7983..."
1,전세,얼마 전에 서울전세사기를 당했습니다.보니까 공인중개사랑 건축주가 같이 덫을 놓은 거...,1. 광주 회사 재직증명서 제출하고 서울 전세 집 알아보는게 가능하나요?---> 어...,"[-0.67863774, -0.54831177, 0.52130395, -0.7617..."
2,전세,현재 광주에서 회사 재직중입니다. 내년 4월-5월에 퇴사예정이며내년 1월 정도부터 ...,나머지 3000만원에 대해서 여유자금이 없다면 중소기업보증금대출이아닌 청년전용 버팀...,"[-0.59072953, -0.43768162, 0.493989, -0.658102..."

In [43]:
text = '전세가 뭔가요?'
embedding = model.encode(text)

In [44]:
wdf['유사도'] = wdf.embedding.map(lambda x: cosine_similarity([embedding],[x]).squeeze())
wdf.head(3)

,구분,질문,답변,embedding,유사도
0,전세,21년 7월 서울 내 오피스텔 전세 1억에 계약했습니다. (현금 3천 만원 집주인에...,안녕하세요. 서울지방변호사회 소속으로 지식iN 법률상담을 진행하고 있는 황인 변호사...,"[-0.47607768, -0.44030046, 0.42604852, -0.7983...",0.430158
1,전세,얼마 전에 서울전세사기를 당했습니다.보니까 공인중개사랑 건축주가 같이 덫을 놓은 거...,1. 광주 회사 재직증명서 제출하고 서울 전세 집 알아보는게 가능하나요?---> 어...,"[-0.67863774, -0.54831177, 0.52130395, -0.7617...",0.386295
2,전세,현재 광주에서 회사 재직중입니다. 내년 4월-5월에 퇴사예정이며내년 1월 정도부터 ...,나머지 3000만원에 대해서 여유자금이 없다면 중소기업보증금대출이아닌 청년전용 버팀...,"[-0.59072953, -0.43768162, 0.493989, -0.658102...",0.445286

In [45]:
wdf.유사도.idxmax()

6

In [46]:
wdf.iloc[wdf.유사도.idxmax()]

구분                                                          전세
질문           요즘 전세가 굉장히 민감한데 보통 원룸하고 오피스텔 비교하면 근저당 많은쪽이 어디인가요?
답변           네, 가능합니다. 서울 청년 전세대출은 서울에 거주하는 청년을 대상으로 하는 전세대...
embedding    [-0.13930258, -0.69033945, 0.4616607, -1.29403...
유사도                                                   0.656805
Name: 6, dtype: object

In [47]:
wdf.답변[wdf.유사도.idxmax()]

'네, 가능합니다. 서울 청년 전세대출은 서울에 거주하는 청년을 대상으로 하는 전세대출 상품입니다. 따라서, 주민등록상 거주지가 서울이 아니더라도, 서울에서 취업하고 거주할 계획이면 대출을 받을 수 있습니다.서울 청년 전세대출에는 다음과 같은 종류가 있습니다.서울형 청년월세지원월세를 2년 동안 매월 20만원까지 지원해주는 상품입니다.대출이 필요하지 않은 경우에도 신청할 수 있습니다.서울 청년 월세 보증금 대출월세 보증금을 최대 1억원까지 대출해주는 상품입니다.대출금리 연 2.7%~3.3%입니다.서울 청년 전세 보증금 대출전세 보증금을 최대 3억원까지 대출해주는 상품입니다.대출금리 연 2.7%~3.3%입니다.위의 상품 중에서 본인의 상황에 맞는 상품을 선택하면 됩니다.추천하는 상품은 서울 청년 월세 보증금 대출입니다. 이 상품은 대출금리가 낮고, 대출기간이 최대 30년이기 때문에, 장기적으로 거주할 계획인 경우 유리합니다.대출을 신청하기 위해서는 다음과 같은 서류를 준비해야 합니다.주민등록등본초본소득증명서재직증명서전세 계약서부동산등기부등본대출 신청은 한국주택금융공사(HF)에서 할 수 있습니다.다음은 서울 청년 전세대출 신청 절차입니다.한국주택금융공사(HF) 홈페이지에서 대출 신청서를 작성합니다.대출 서류를 준비합니다.한국주택금융공사(HF)에 대출 신청서와 대출 서류를 제출합니다.한국주택금융공사(HF)에서 심사를 거쳐 대출 여부를 결정합니다.대출이 승인되면 대출금을 받을 수 있습니다.서울 청년 전세대출을 이용하면, 서울에서 전세를 구할 때 자금 부담을 줄일 수 있습니다. 따라서, 서울에 취업하고 전세를 구할 계획이라면, 서울 청년 전세대출을 고려해 보시기 바랍니다.ദ്ദി*ˊᗜˋ*)              투자는 전쟁이다  hello-and-hollysicker.tistory.com            \u200b'

In [48]:
text = '서울전세'
embedding = model.encode(text)
wdf['유사도'] = wdf.embedding.map(lambda x: cosine_similarity([embedding],[x]).squeeze())
answer = wdf.답변[wdf.유사도.idxmax()]
answer

'광진구쪽알아보세요.'