In [151]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import pandas as pd

In [152]:
base_url = 'https://news.naver.com/'
suffix_url = 'main/list.naver?mode=LS2D&mid=shm&sid1=101&sid2=260'

In [166]:
driver = webdriver.Chrome()
driver.get(url)

The chromedriver version (117.0.5938.88) detected in PATH at C:\Users\human\Downloads\chromedriver.exe might not be compatible with the detected chrome version (118.0.5993.118); currently, chromedriver 118.0.5993.70 is recommended for chrome 118.*, so it is advised to delete the driver in PATH and retry

In [165]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
lis = soup.select('.type06_headline > li')
len(lis)

10

In [176]:
li = lis[0]
title = li.select_one('#main_content > div.list_body.newsflash_body > ul.type06_headline > li:nth-child(1)')
title = ''
for li in lis:
    text = li.get_text().strip()
    if text == '\u200b' or text == '':
        continue
    title += text + '\n'
title

AttributeError: 'list' object has no attribute 'select'

In [180]:
latest_news = []
lis = soup.select('.type06_headline > li')[:3]  # 처음 3개 요소만 선택
for li in lis:
    title_element = li.select_one('dl > dt:nth-of-type(2) > a')
    if title_element:
        title = title_element.text.strip()
        link = title_element['href']
        latest_news.append({"title": title, "link": link})
latest_news

[{'title': '국토부, 2023 한국건축문화대상에 총 45명 선정',
  'link': 'https://n.news.naver.com/mnews/article/029/0002833650?sid=101'},
 {'title': "둔촌주공 추가 공사비 '10% 삭감' 합의안 유력…조합원 부담금 1.2억→1억 이하로[집슐랭]",
  'link': 'https://n.news.naver.com/mnews/article/011/0004255255?sid=101'},
 {'title': '강원 원주에서 분양 순항 중인 ‘e편한세상 원주 프리모원’',
  'link': 'https://n.news.naver.com/mnews/article/015/0004908139?sid=101'}]

In [157]:
df.to_csv('data/news.csv', index=False)
df

                            title
0  GH, 평택고덕·화성동탄2 단독주택용지 146필지 공급
1  GH, 평택고덕·화성동탄2 단독주택용지 146필지 공급
2  GH, 평택고덕·화성동탄2 단독주택용지 146필지 공급

In [158]:
#main_content > div.list_body.newsflash_body > ul.type06_headline > li:nth-child(1) > dl > dt:nth-child(2) > a