In [33]:
import pandas as pd
import numpy as np

In [71]:
df = pd.read_csv('data/서울부동산.csv')
df

,BJDONG_NM,ADDRESS,RA_REGNO,CMP_NM,위도,경도
0,신도림동,서울특별시 구로구 경인로 661,11500-2022-00106,라빌공인중개사사무소,37.509662,126.887986
1,구로동,서울특별시 구로구 디지털로33길 11,11530-2023-00039,타워공인중개사사무소,37.485706,126.895513
2,구로동,서울특별시 구로구 구로동로 117,41190-2022-00036,아라공인중개사사무소,37.489029,126.884238
3,구로동,서울특별시 구로구 도림로3길 3,11530-2023-00041,한중공인중개사사무소,37.485518,126.886343
4,구로동,서울특별시 구로구 새말로 31,92420000-977,롯데공인중개사사무소,37.504381,126.884825
...,...,...,...,...,...,...
26602,서교동,서울특별시 마포구 월드컵로10길 13,11440-2015-00119,리치공인중개사사무소,37.554727,126.912433
26603,신수동,서울특별시 마포구 독막로 240,92380000-4891,성원부동산공인중개사사무소,37.546660,126.940093
26604,노고산동,서울특별시 마포구 신촌로 150,92380000-4894,포스빌부동산공인중개사사무소,37.556264,126.942122
26605,공덕동,서울특별시 마포구 마포대로7길 33,92380000-4906,굿모닝부동산공인중개사사무소,37.547609,126.951568
26606,상암동,서울특별시 마포구 상암산로1길 96,92380000-4959,월드컵파크공인중개사사무소,37.581411,126.881235

In [74]:
df.BJDONG_NM == '신도림동'

0         True
1        False
2        False
3        False
4        False
         ...
26602    False
26603    False
26604    False
26605    False
26606    False
Name: BJDONG_NM, Length: 26607, dtype: bool

In [59]:
# 중복 제외한 값
dg = df[['BJDONG_NM']]
print(dg.shape, dg.BJDONG_NM.nunique())

(26607, 1) 431

In [60]:
# 중복제거
dg.drop_duplicates(subset=['BJDONG_NM'], inplace=True)
dg.shape

C:\Users\human\AppData\Local\Temp\ipykernel_12268\3187376684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dg.drop_duplicates(subset=['BJDONG_NM'], inplace=True)

(432, 1)

In [61]:
# 인덱스 리셋
dg = dg.reset_index()
dg

     index BJDONG_NM
0        0      신도림동
1        1       구로동
2        5      가리봉동
3       13       온수동
4       18        궁동
..     ...       ...
427  21548     용산동4가
428  21746       미근동
429  21968       원지동
430  22133    동소문동2가
431  25761      외발산동

[432 rows x 2 columns]

In [63]:
list_dg = dg['BJDONG_NM']

In [81]:
# 확인
list_dg[1]

'구로동'

In [49]:
input = df[df.BJDONG_NM == list_dg[0]]
input.위도

0        37.509662
8        37.506854
9        37.507689
10       37.504625
11       37.506163
           ...
15002    37.508544
15004    37.514081
15409    37.512158
16426    37.507721
24704    37.481440
Name: 위도, Length: 67, dtype: float64

In [52]:
lat = []
lng = []
for i in list_dg.index:
    input = df[df.BJDONG_NM == list_dg[i]]
    lat.append(input.위도)
    lng.append(input.경도)

In [82]:
len(lat[1])

381

In [83]:
a = []
for i in df.index:
    if (df.BJDONG_NM[i] == '구로동'):
        a.append(df.BJDONG_NM[i])
    else:
        pass
len(a)

381

In [86]:
list_dg[0]

'신도림동'

In [87]:
lat[0]

0        37.509662
8        37.506854
9        37.507689
10       37.504625
11       37.506163
           ...
15002    37.508544
15004    37.514081
15409    37.512158
16426    37.507721
24704    37.481440
Name: 위도, Length: 67, dtype: float64